<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  
  <connectionStrings>
    <!-- Use integrated security, encrypt this section in production -->
    <add name="AppDB" 
         connectionString="Server=.;Database=MyAppDB;Integrated Security=true;Min Pool Size=10;Max Pool Size=100;Pooling=true;" 
         providerName="System.Data.SqlClient" />
  </connectionStrings>
  
  <appSettings>
    <!-- Never store sensitive data in appSettings -->
    <add key="ApplicationName" value="My Application" />
    <add key="EnableDetailedErrors" value="false" />
  </appSettings>
  
  <system.web>
    <!-- Compilation -->
    <compilation debug="false" targetFramework="4.7.2" />
    <httpRuntime targetFramework="4.7.2" maxRequestLength="10240" executionTimeout="300" />
    
    <!-- Authentication -->
    <authentication mode="Forms">
      <forms loginUrl="~/Login.aspx" 
             timeout="30" 
             slidingExpiration="true" 
             protection="All" 
             requireSSL="true" 
             cookieless="UseCookies" 
             enableCrossAppRedirects="false" />
    </authentication>
    
    <!-- Authorization -->
    <authorization>
      <deny users="?" />
    </authorization>
    
    <!-- Session State -->
    <sessionState mode="StateServer" 
                  stateConnectionString="tcpip=127.0.0.1:42424" 
                  timeout="30" 
                  cookieless="UseCookies" />
    
    <!-- Pages -->
    <pages enableViewStateMac="true" 
           viewStateEncryptionMode="Always" 
           enableEventValidation="true" 
           validateRequest="true">
      <!-- Explicit machine key - generate unique keys for production -->
      <machineKey validationKey="GENERATE_VALIDATION_KEY_HERE" 
                  decryptionKey="GENERATE_DECRYPTION_KEY_HERE" 
                  validation="HMACSHA256" 
                  decryption="AES" />
    </pages>
    
    <!-- Cookies -->
    <httpCookies httpOnlyCookies="true" 
                 requireSSL="true" 
                 sameSite="Strict" />
    
    <!-- Custom Errors -->
    <customErrors mode="RemoteOnly" defaultRedirect="~/Error.aspx">
      <error statusCode="404" redirect="~/Errors/NotFound.aspx" />
      <error statusCode="500" redirect="~/Errors/ServerError.aspx" />
    </customErrors>
    
    <!-- Trace (disabled in production) -->
    <trace enabled="false" requestLimit="10" pageOutput="false" traceMode="SortByTime" localOnly="true" />
    
    <!-- Membership -->
    <membership defaultProvider="CustomMembershipProvider">
      <providers>
        <clear />
        <add name="CustomMembershipProvider" 
             type="MyApp.Security.CustomMembershipProvider" 
             connectionStringName="AppDB" 
             enablePasswordRetrieval="false" 
             enablePasswordReset="true" 
             requiresQuestionAndAnswer="false" 
             requiresUniqueEmail="true" 
             maxInvalidPasswordAttempts="5" 
             minRequiredPasswordLength="8" 
             minRequiredNonalphanumericCharacters="1" 
             passwordAttemptWindow="10" 
             applicationName="/" />
      </providers>
    </membership>
    
    <!-- Role Manager -->
    <roleManager enabled="true" 
                 defaultProvider="CustomRoleProvider" 
                 cacheRolesInCookie="true" 
                 cookieProtection="All">
      <providers>
        <clear />
        <add name="CustomRoleProvider" 
             type="MyApp.Security.CustomRoleProvider" 
             connectionStringName="AppDB" 
             applicationName="/" />
      </providers>
    </roleManager>
  </system.web>
  
  <system.webServer>
    <!-- URL Rewrite (requires IIS URL Rewrite module) -->
    <rewrite>
      <rules>
        <rule name="Force HTTPS" stopProcessing="true">
          <match url="(.*)" />
          <conditions>
            <add input="{HTTPS}" pattern="off" ignoreCase="true" />
          </conditions>
          <action type="Redirect" url="https://{HTTP_HOST}/{R:1}" redirectType="Permanent" />
        </rule>
      </rules>
    </rewrite>
    
    <!-- HTTP Headers -->
    <httpProtocol>
      <customHeaders>
        <remove name="X-Powered-By" />
        <add name="X-Frame-Options" value="SAMEORIGIN" />
        <add name="X-Content-Type-Options" value="nosniff" />
        <add name="X-XSS-Protection" value="1; mode=block" />
        <add name="Referrer-Policy" value="strict-origin-when-cross-origin" />
        <add name="Content-Security-Policy" value="default-src 'self'; script-src 'self' 'unsafe-inline' https://cdn.example.com; style-src 'self' 'unsafe-inline';" />
      </customHeaders>
    </httpProtocol>
    
    <!-- Compression -->
    <urlCompression doStaticCompression="true" doDynamicCompression="true" />
    
    <httpCompression>
      <dynamicTypes>
        <add mimeType="text/*" enabled="true" />
        <add mimeType="application/javascript" enabled="true" />
        <add mimeType="application/json" enabled="true" />
      </dynamicTypes>
      <staticTypes>
        <add mimeType="text/*" enabled="true" />
        <add mimeType="application/javascript" enabled="true" />
        <add mimeType="text/css" enabled="true" />
      </staticTypes>
    </httpCompression>
    
    <!-- Modules -->
    <modules>
      <add name="SecurityHeadersModule" type="MyApp.Security.SecurityHeadersModule" />
    </modules>
    
    <!-- Static Content -->
    <staticContent>
      <clientCache cacheControlMode="UseMaxAge" cacheControlMaxAge="7.00:00:00" />
    </staticContent>
  </system.webServer>
  
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  
  <!-- Location-specific authorization -->
  <location path="Admin">
    <system.web>
      <authorization>
        <allow roles="Admin" />
        <deny users="*" />
      </authorization>
    </system.web>
  </location>
  
  <location path="Public">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
</configuration>
